services:
    listener1:
        image: python:3.9-slim
        volumes:
            - .:/app
        working_dir: /app
        command: python listener.py
        networks:
            - lab-net

    listener2:
        image: python:3.9-slim
        volumes:
            - .:/app
        working_dir: /app
        command: python listener.py
        networks:
            - lab-net

    listener3:
        image: python:3.9-slim
        volumes:
            - .:/app
        working_dir: /app
        command: python listener.py
        networks:
            - lab-net

    broadcaster:
        image: python:3.9-slim
        volumes:
            - .:/app
        working_dir: /app
        command: python broadcaster.py
        depends_on:
            - listener1
            - listener2
            - listener3
        networks:
            - lab-net

networks:
    lab-net:
        driver: bridge
